<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-1 bg-sky-800 py-5 px-[10%] justify-between items-center">

        <h1 class="text-white ">SMS</h1>

        <div class="flex gap-5">
            <a href="/" class="text-white">Home</a>
            <a href="/insert" class="text-white">Insert Records</a>
        </div>
    </div>
</body>
</html>